<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Access Denied</title>
    </head>
    <body>
        <div layout:fragment="body">
            <!-- 404 Error Text -->
            <div class="text-center">
                <div class="error mx-auto" data-text="404">403</div>
                <p class="lead text-gray-800 mb-5">Access Denied</p>
                <p class="text-gray-500 mb-0">It looks like you don't have access to the resource...</p>
                <a href="index.html">&larr; Back to Dashboard</a>
            </div>
        </div>
    </body>
</html>