<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <div layout:fragment="body">
            <h1>Usuário</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Usuário</li>
            </ol>

            <div class="row">
                <div class="mb-2 col-12 col-sm-5">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-3 text-center">
                                <img src="/img/undraw_profile_2.svg" alt="avatar"
                                     class="rounded-circle img-fluid">
                            </div>
                            <div class="mb-2">
                                <p class="text-primary text-center" th:text="${user.username}"></p>
                                <p class="text-muted text-center" th:text="${user.type}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-2 col-12 col-sm 7">
                    <div class="mb-2 card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">Nome</div>
                                <div class="col-sm-9" th:text="${user.fullName}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">Email</div>
                                <div class="col-sm-9" th:text="${user.email}"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">Tipo</div>
                                <div class="col-sm-9" th:text="${user.type}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">
                        <a th:href="@{/user/edit/{id} (id=${user.id})}" role="button" class="btn btn-primary col-12">Editar</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>